doctype html
html
  head
      block head
        title="What to Watch"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(type="module" src="/javascripts/index.js") 
        script(
          src="https://kit.fontawesome.com/20cc43c639.js"
          crossorigin="anonymous"
          ) 
  body
    nav(class='navbar navbar-expand-lg navbar-dark bg-primary' id="navbar")
      img(src='https://cdn2.iconfinder.com/data/icons/cinema-and-music-innovicons-black-and-white/128/button-pop_corn-film_strip-cinema-movie-512.png' class='popcorn')
      div(class='navbar-links')
          div(class='navbar-div'): a(class='navbar-links' href='/search/random') What to Watch
          //- div(class='navbar-div'): a(class='navbar-links' href='/users') My Movies
          if user
            div(class="welcome-user"): p(class="welcome-user") Welcome #{user.firstName}
          else
            div
          div(id='navbarText')
            ul(class='navbar-nav mr-auto')
              //- span(class='navbar-text px-4') Welcome #{user.firstName}!
              //- form(class='form-inline pr-4' action='/api/logout' method='delete')
              button(class='btn navbar-links' id='logout' type='submit') Logout
              div(class="logout-message")
          
    div(class="sidebar")
      div(id='watch-want'): a(href='/users/watchlists/want') Want to Watch
      div(id='watch-want'): a(href='/users/watchlists/watched') Watched
      div(class='movies-by') Movies by:
      div(id='order-selector'): a(href='/search/alpha-order') Alphabetical order
      div(id='order-selector'): a(href='/search/released') Released
      div(id='order-selector'): a(href='/search/random') Random 
    
    block content

  block footer
    <div id="footer-bar">
      <div class="footer ahdari">
        <h3>Ahdari Scott</h3>
        <a href="https://www.linkedin.com/in/ahdari-scott-916225117" ><i class="fab fa-linkedin"></i></a>
        <a href="mailto:ahdari33@gmail.com" ><i class="fas fa-envelope"></i></a>
        <a href="https://github.com/koran23" ><i class="fab fa-github"></i></a>
      </div>
      <div class="footer chris">
        <h3>Chris Clark</h3>
        <a href="https://www.linkedin.com/in/crclark101010/" ><i class="fab fa-linkedin"></i></a>
        <a href="mailto:percist@gmail.com" ><i class="fas fa-envelope"></i></a>
        <a href="https://github.com/percist" ><i class="fab fa-github"></i></a>
      </div>
      <div class="footer elyse">
        <h3>Elyse Steingold</h3>
        <a href="www.linkedin.com/in/" ><i class="fab fa-linkedin"></i></a>
        <a href="mailto:" ><i class="fas fa-envelope"></i></a>
        <a href="https://github.com/" ><i class="fab fa-github"></i></a>
      </div>
      <div class="footer samuel">
        <h3>Samuel Nunn</h3>
        <a href="www.linkedin.com/in/ahdari-scott-916225117" ><i class="fab fa-linkedin"></i></a>
        <a href="mailto:" ><i class="fas fa-envelope"></i></a>
        <a href="https://github.com/" ><i class="fab fa-github"></i></a>
      </div>
    </div>