extends layout
block append head 
    script(src='/javascripts/status.js')

block content
        div(class="movie-container-1" id=movieId)
            div
                img(class="movie-poster", id="poster", src= poster)
            div(class="movie-info")
                h1=title
                h4=tagline
                ul
                    li Released on: #{releaseDate}
                    li Run time:  #{runtime} minutes
                    li=overview
                    if movie.vote
                      li
                        div.stars
                          fieldset.rating
                            input#star5(type='radio' name='rating' value=movie.vote>9.5)
                            label.full(for='star5' title='Awesome - 5 stars')
                            input#star4(type='radio' name='rating' value=movie.vote>8)
                            label.full(for='star4' title='Pretty good - 4 stars')
                            input#star3(type='radio' name='rating' value=movie.vote>6)
                            label.full(for='star3' title='Meh - 3 stars')
                            input#star2(type='radio' name='rating' value=movie.vote>4)
                            label.full(for='star2' title='Kinda bad - 2 stars')
                            input#star1(type='radio' name='rating' value=movie.vote>2)
                            label.full(for='star1' title='Sucks big time - 1 star')
                    li
                        form(class='form-inline_watchList' action=`/movies/${movieId}/want` method='post')
                            input(type='hidden' value=movieId)
                            input(type='hidden' value=user.id)
                            input(name='_csrf' value=csrfToken type='hidden' class='form-group')  
                            button(class='btn watchToggler' id='want-btn' type='submit' value='Want to Watch') Want to Watch
                    li
                        form(class='form-inline_watchList' action=`/movies/${movieId}/watched` method='post')
                            input(type='hidden' value=movieId)
                            input(type='hidden' value=user.id)
                            input(name='_csrf' value=csrfToken type='hidden' class='form-group')  
                            button(class='btn watchToggler' id="watch-btn" type='submit' value='Watched') Watched
                    li
                        form(class='form-inline ' action=`/movies/${movieId}/reviews/new` method='get')
                            input(name='_csrf' value=csrfToken type='hidden' class='form-group')  
                            button(class='btn btn-pad' id='review' type='submit' disabled) Write a Review
            //- todo Write a Reveiw button GET movies/review form
        div
        div(class="movie-reviews")
            //- TODO display review if there is one. Display a messgae indicating you are 
                the first to review if there isn't one. 
            if reviews 
                each review in reviews
                    div(class="movie-reviews_stars")
                      div.stars
                            fieldset.rating
                              input#star5(type='radio' name='rating' value=review.rating>9.5)
                              label.full(for='star5' title='Awesome - 5 stars')
                              input#star4(type='radio' name='rating' value=review.rating>8)
                              label.full(for='star4' title='Pretty good - 4 stars')
                              input#star3(type='radio' name='rating' value=review.rating>6)
                              label.full(for='star3' title='Meh - 3 stars')
                              input#star2(type='radio' name='rating' value=review.rating>4)
                              label.full(for='star2' title='Kinda bad - 2 stars')
                              input#star1(type='radio' name='rating' value=review.rating>2)
                              label.full(for='star1' title='Sucks big time - 1 star')
                    div(class="movie-reviews_text")=review.review
            else 
                p There are no reviews. Be the first to review this movie!


