
mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType='text')
  div(class='form-group')
    label(for=fieldName class='form-label')= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')

mixin authentication()
  span(class="navbar-text px-4")
    button(class='btn btn-sm btn-dark' href='/login') Login
    button(class='btn btn-sm btn-dark' href='/register') Register  

